/* ---------- generellt ---------- */
html {
    --backgroundColor: #0d0907;
    --accentColor1: #F7E9D2;
    --accentColor2: #823600;
    --roundBorders: 0.75em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--backgroundColor);
    margin: 0;
}


/* ---------- header ---------- */
header {
    color: #fff;
    background-color: var(--accentColor2);
    padding: 0.2em 1em;
}


/* ---------- nav ---------- */
nav {
    background-color: var(--backgroundColor);
    margin-top: 1em;
}

nav ul {
    display: flex;
    flex-flow: row nowrap;
    gap: 0.5em;
    list-style: none;
    margin: 0;
}

nav li {
    color: #fff;
    background-color: var(--accentColor2);
    border-top-left-radius: var(--roundBorders);
    border-top-right-radius: var(--roundBorders);
}

nav li:hover {
    background-color: #943905;
}

nav h2 {
    margin: 0.5em;
}

nav #current-page {
    color: var(--accentColor2);
    background-color: var(--accentColor1);
}

nav a {
    text-decoration: none;
    color: #fff;
}

/* ändra färg under hover, justera höjd */


/* ---------- main ---------- */
main {
    margin: 0 1em;
    color: #000;
    background-color: var(--accentColor1);
}

hr {
    color: var(--accentColor2);
    border: 1px solid var(--accentColor2);
}

main h3 {
    color: var(--accentColor2);
    font-size: 1.8rem;
    margin: 0;
}

main .sec {
    margin: 1.75em 0 0;
}

div .sec:first-child {
    margin: 0;
}

button {
    color: #fff;
    background-color: var(--accentColor2);
    border: 1px solid #752500;
    padding: 0.4em;
    border-radius: var(--roundBorders);
    font-size: 1em;
    cursor: pointer;
}

main .bok {
    border: 2px solid var(--accentColor2);
    background-color: #fff;
    color: #000;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 0.75em;
    margin: 0.5em 0;
}

.bok img {
    height: 130px;
}

button.omlan {
    margin-left: auto;
    margin-right: 1em;
}


/* ---------- översikt ---------- */
main.overview {
    display: flex;
    flex-flow: row nowrap;
}

main #left-side,
main #right-side {
    padding: 0.75em;
    width: 50%;
}

/* ---------- right side ---------- */
.textbox {
    border: 2px solid var(--accentColor2);
    background-color: #fff;
    color: #000;
    padding: 0.5em;
    margin-bottom: 0.5em;
}

.textbox p {
    margin: 0;
}

.notice {
    color: #aa0c01;
}

.header-menu {
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
    align-items: center;
}

.header-menu h3 {
    margin-right: auto;
}

.show {
    width: 2.2em;
    height: 2.2em;
}

.reserve select {
    margin-bottom: 0.75em;
}


/* ---------- filter sök ---------- */
#text-search {
    margin-top: 1em;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

#text-search input {
    width: 65%;
    border: 2px solid var(--accentColor2);
}

#text-search button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#filters {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

/* inte absolute positioning, men ngt liknande. hide/show */


/* ---------- minneslista ---------- */
.lists {
    padding: 0.75em;
}

.books {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.listings .bok {
    min-width: 600px;
    max-width: 75%;
}

.bok .buttons {
    margin-left: auto;
    display: flex;
    flex-flow: column wrap;
    gap: 0.5em;
}

.bok .expand {
    margin-right: 1em;
}

#expandable {
    background-color: #fff;
    border: 2px solid var(--accentColor2);
    width: 590px;
    padding: 0.3em;
    display: flex;
    flex-flow: row nowrap;
    gap: 0.75em;
    position: absolute;
    top: 21.5em;
    left: 28.65em;
    visibility: hidden;
}

#expandable p {
    margin: 0;
}

#expandable div {
    display: flex;
    flex-flow: column;
    gap: 0.5em;
    padding-right: 0.3em;
    border-right: 2px solid var(--accentColor2);
}

.bok.sower .u-sure {
    position: absolute;
    top: 22em;
    left: 50em;
    background-color: #fff;
    border: 2px solid #aa0c01;
    border-radius: var(--roundBorders);
    padding: 0.75em;
    box-shadow: 6px 6px 5px rgb(39, 35, 35);
}